.env
.venv/
.idea/
__pycache__/
*.py[cod]

data/chroma/
data/html/*.html
data/html/champions/
!data/html/.gitkeep
英雄名录 _ ARAM Hextech Wiki.html
英雄名录 _ ARAM Hextech Wiki_files/

build/
dist/
*.spec
.webserver.pid
